files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            * * * * * root /usr/local/bin/myscript.sh

    "/usr/local/bin/myscript.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            /usr/bin/python /opt/python/bundle/5/app/worktext.py > /opt/python/log/worktext.log
            exit 0
commands:
    dump_files:
        command: "find / > /opt/python/log/find.log"