files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            * * * * * root "python /opt/python/bundle/5/app/worktext.py"
commands:
    dump_files:
        command: "find / > /opt/python/log/find.log"
    remove_files:
        command: "rm /opt/python/log/my.log"
        #command: root "rm -f /etc/cron.d/*.bak"